{% extends 'jobapp/base.html' %}
{% load static %}
{% load bootstrap4 %}
{% block head_block %}
  <title>Home</title>
{% endblock %}
{% block body_block %}
  <div class="jumbotron">
    <h1>Welcome Manager!</h1><br>
    {% if user.is_authenticated %}
      <h4><strong>System Managers</strong></h4>
      <ul>
        <li><a href="{% url "jobapp:job_list" %}">View Applications</a></li>
        <li><a href="{% url "jobapp:review" %}">Upload Job Description</a></li>
        <li><a href="{% url "jobapp:review_list" %}">Review & Edit</a></li>
        <li><a href="#">Manage Interviews</a></li>
      </ul>
    {% endif %}
  </div>
{% endblock %}
